body {
  background-color: rgba(128, 98, 237, 0.215);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.formulaire {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  align-items: centser;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 20px;
  gap: 10px;
  border-radius: 10px;
}

.inputszone,
.information,
.buttonzone,
.minidentity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

label {
  text-align: left;
}
.information input {
  height: 50%;
}
.identity {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#register,
#delete {
  padding: 10px;
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#register {
  background-color: rgba(22, 67, 214, 0.719);
}

#delete {
  background-color: white;
}

.tableau {
  width: auto;
  background-color: white;
  margin: 0px;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
}
