* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(121, 154, 237, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.general {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: auto;
  box-shadow: 0 0 10px rgba(108, 107, 107, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: rgb(117, 117, 231);
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  justify-content: center;
}

.button:hover {
  background-color: rgb(56, 56, 179);
  cursor: pointer;
}
input {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}
.ul {
  text-align: left;
}
li {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgb(201, 199, 199);
}
